{% import '_includes/forms' as forms %}

<div class="meta">
    {{ forms.textField({
        label: 'Slug'|t('app'),
        id: 'slug',
        name: 'slug',
        value: notification.slug,
    }) }}
    {{ forms.lightswitchField({
        label: 'Enabled'|t('app'),
        id: 'enabled',
        name: 'enabled',
        on: notification.enabled,
    }) }}
</div>

<dl class="meta read-only">
    <div class="data">
        <dt class="heading">{{ 'ID'|t('app') }}</dt>
        <dd class="value">{{ notification.id }}</dd>
    </div>
    <div class="data">
        <dt class="heading">{{ 'Created at'|t('app') }}</dt>
        <dd class="value">{{ notification.dateCreated|datetime('short') }}</dd>
    </div>
    <div class="data">
        <dt class="heading">{{ 'Updated at'|t('app') }}</dt>
        <dd class="value">{{ notification.dateUpdated|datetime('short') }}</dd>
    </div>
</dl>
