{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set fullPageForm = true %}

{% set existing = (messageId ?? false) %}
{% set message  = (existing ? notifier.getMessageById(messageId)) %}
{% set title    = (existing ? 'Edit Message' : 'Add a New Message')|t('notifier') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
    {'label': title, 'url': false},
] %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% set content %}
    {{ actionInput('notifier/message/save-message') }}
    {{ hiddenInput('triggerId', triggerId) }}
    {{ existing ? hiddenInput('id', messageId) }}

    <h2>Message Body Configuration</h2>
    <p>Configure your notification message as desired.</p>

    {{ forms.selectField({
        label: "Message Type"|t('notifier'),
        instructions: "While in beta, only **email** messages are available."|t('notifier'),
        id: 'type',
        name: 'type',
        options: {
            'email': 'Email',
        },
        value: (message ? message.type)
    }) }}
    {# 'sms': 'SMS (Text Message)' #}

    {{ forms.autosuggestField({
        label: "Message Template"|t('notifier'),
        instructions: "Which Twig template will be used to generate the message body?"|t('notifier'),
        id: 'template',
        name: 'template',
        suggestions: craft.cp.getTemplateSuggestions(),
        value: (message ? message.template)
    }) }}

    {{ forms.textField({
        label: "Message Subject"|t('notifier'),
        instructions: "For email messages only. Will parse Twig tags."|t('notifier'),
        id: 'subject',
        name: 'subject',
        value: (message ? message.subject)
    }) }}

    <hr>

    <h2>Message Recipients</h2>
    <p>This part is very complicated.</p>

{% endset %}
