{% extends '_layouts/cp' %}
{% set title = 'Manage Notifications'|t('notifier') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
] %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('notifier/trigger/new') }}" role="button" tabindex="0">
        {{ 'Add a notification trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <div>

        {% for trigger in notifier.getTriggers() %}

            <div class="grid-container">

                <div class="collapse">
                    <div class="chevron"></div>
                </div>

                <a class="trigger" href="{{ cpUrl("notifier/trigger/#{trigger.id}") }}" tabindex="0">
                    {% switch trigger.event %}
                        {% case 'Entry::EVENT_AFTER_SAVE' %}
                            When an Entry is saved...
                        {% default %}
                            {{ trigger.event }}
                    {% endswitch %}
                    <pre><code>{{ trigger.config }}</code></pre>
                </a>

                <div>
                    {% for message in trigger.getMessages() %}
                        <a class="message" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/#{message.id}") }}" tabindex="0">
                            {% switch message.type %}
                                {% case 'email' %}
                                    Send an email ("{{ message.subject }}")
                                {% case 'sms' %}
                                    Send an SMS (Text Message)
                                {% default %}
                                    {{ message.type }}
                            {% endswitch %}
                            <pre><code>{{ message.template }}</code></pre>
                        </a>
                    {% endfor %}
                    <a class="btn submit add icon" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/new") }}" role="button" tabindex="0">
                        Add a message
                    </a>
                </div>

            </div>

        {% else %}

            <p><strong>No existing notifications.</strong> To get started, <a href="{{ cpUrl('notifier/trigger/new') }}">add a notification trigger...</a></p>

        {% endfor %}

    </div>

{% endset %}

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 16px 40% auto;
    grid-gap: 6px;
    margin-bottom: 16px;
}
.chevron {
    margin-top: 5px;
    display: block;
    content: '';
    font-size: 0;
    width: 8px;
    height: 8px;
    border: solid #596673;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}
.trigger {
    display: block;
    color: white;
    padding: 10px 16px;
    background-color: red;
    cursor: pointer;
}
.message {
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid #999999;
    margin-bottom: 6px;
    background-color: green;
    cursor: pointer;
}
{% endcss %}
