{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set title = 'Add New Notification'|t('notifier') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
    {'label': 'Edit Trigger'|t('notifier'), 'url': url('notifier/trigger')},
] %}

{% block actionButton %}
    <a class="btn submit" href="{{ cpUrl('notifier') }}" role="button" tabindex="0">
        {{ 'Save Trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <h2>Event Trigger Configuration</h2>
    <p>Configure when the notification(s) should be triggered.</p>

    {{ forms.selectField({
        label: "Element Type"|t('notifier'),
        instructions: "While in beta, only **Entry** events are available."|t('notifier'),
        id: 'element-type',
        name: 'element-type',
        options: {'entry': 'Entry'},
    }) }}

    {{ forms.selectField({
        label: "Event"|t('notifier'),
        instructions: "While in beta, only **on save** events are available."|t('notifier'),
        id: 'event',
        name: 'event',
        options: {'onSave': 'On save'},
    }) }}

    {{ forms.checkboxSelectField({
        label: "Sections"|t('app'),
        instructions: "Which sections should be included?"|t('notifier'),
        id: 'sections',
        name: 'sections',
        options: {'news': 'News'},
        values: '*',
        showAllOption: true,
    }) }}

    {{ forms.selectField({
        label: "Freshness"|t('notifier'),
        instructions: "Should this event be triggered by **new** entries, **existing** entries, or **both**?"|t('notifier'),
        id: 'freshness',
        name: 'freshness',
        options: {
            'both': 'Both new & existing',
            'new': 'New entries only',
            'existing': 'Existing entries only',
        },
    }) }}

{% endset %}
