{% if controls %}
    {% set toggleDirection = ('message' == type ? 'turn-left' : 'turn-right') %}
    <div class="block-controls block-controls-{{ type }}">
        <button class="chevron" @click="expanded = !expanded" :title="expanded ? 'Collapse' : 'Expand'" :class="{'{{ toggleDirection }}':!expanded}">
            <img alt="Collapse icon" src="{{ notifierBlockIcons['collapse'] }}">
        </button>
        <template v-cloak v-if="expanded">
            <button title="Edit" @click="window.location.href = '{{ editUrl }}'">
                <img alt="Edit icon" src="{{ notifierBlockIcons['edit'] }}">
            </button>
            <button title="Delete" @click="{{ deleteAction ?? '' }}">
                <img alt="Delete icon" src="{{ notifierBlockIcons['delete'] }}">
            </button>
        </template>
    </div>
{% endif %}
