<div class="notifier-trigger-container">
    {% if controls %}
        {% include 'notifier/_block/controls' with {
            'type': 'trigger',
            'editUrl': cpUrl("notifier/trigger/#{trigger.id}"),
        } only %}
    {% endif %}
    <div class="notifier-block notifier-trigger">

        {% switch trigger.event %}
        {% case 'Entry::EVENT_AFTER_SAVE' %}
            <div class="block-label">When an Entry is saved...</div>
        {% default %}
            <div class="block-label">{{ trigger.event }}...</div>
        {% endswitch %}

        <table>
            {% for key,val in trigger.config %}
                {% switch key %}
                {% case 'drafts' %}
                    <tr>
                        <td>Drafts:</td>
                        <td>{{ notifierOptions.triggers.drafts[val] ?? false }}</td>
                    </tr>
                {% case 'freshness' %}
                    <tr>
                        <td>Freshness:</td>
                        <td>{{ notifierOptions.triggers.freshness[val] ?? false }}</td>
                    </tr>
                {% case 'sections' %}
                    {% set sections = val %}
                    <tr>
                        <td>Sections:</td>
                        <td>
                            {% if '*' == sections %}
                                All sections
                            {% elseif '' == sections %}
                                None selected
                            {% elseif sections is iterable %}
                                {% for s in sections %}
                                    {{ not loop.first ? ', ' }}
                                    {{ craft.app.sections.getSectionById(s).name ?? false }}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endswitch %}
            {% endfor %}
        </table>

    </div>
</div>
