<div>

    <div class="readable" style="margin-bottom: 20px">
        <blockquote class="note tip">
            <p><strong>Beta Notice:</strong> The underlying logging system may change prior to the 1.0 release.</p>
        </blockquote>
    </div>

    {% for row in logs %}

        {% set type = (row.type ?? '') %}
        {% set timestamp = (row.microtime ?? false)|round(0,'floor') %}
        <div class="grid-container log-row log-{{ type }}">
            <div class="log-meta">
                {% if timestamp %}
                    <div class="log-meta-time">{{ timestamp|date('g:i:s a') }}</div>
                    <div class="log-meta-date">{{ timestamp|date('M j, Y') }}</div>
                {% endif %}
            </div>
            <div class="log-message">
                {{ row.message ?? null }}
            </div>
        </div>

    {% else %}

        <p>No messages have been sent yet. <a href="{{ cpUrl('notifications') }}">Configure a notification...</a></p>

    {% endfor %}

</div>

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 102px auto;
}

.log-row {
    padding: 8px 14px;
    border: 1px solid transparent;
    margin-bottom: 1px;
    border-radius: 3px;
    overflow: hidden;
}

.log-success {
    border-color: #a2d5c6;
    background-color: #f2fcf9;
}
.log-warning {
    border-color: #dbd9ae;
    background-color: #fff9e3;
}
.log-error {
    border-color: #dbbeae;
    background-color: #ffede3;
}

.log-meta-time {
    font-weight: bold;
}
.log-meta-date {
    color: #8795a1;
}
{% endcss %}
