{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set fullPageForm = true %}

{% set existing = (triggerId ?? false) %}

{% if existing %}
    {% set trigger     = notifier.getTriggerById(triggerId) %}
    {% set triggerType = notifierOptions.triggers.event[trigger.event] %}
    {% set title       = triggerType %}
{% else %}
    {% set trigger     = null %}
    {% set triggerType = null %}
    {% set title       = 'Add a New Trigger'|t('notifier') %}
{% endif %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
] %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% set content %}
    {{ actionInput('notifier/trigger/save') }}
    {{ existing ? hiddenInput('id', triggerId) }}

    <div class="flex-fields">

        {{ forms.selectField({
            label: "Trigger Event"|t('notifier'),
            instructions: "**BETA:** Only a single event type is available in beta. [Request more trigger events...](https://github.com/doublesecretagency/craft-notifier/issues/2)"|t('notifier'),
            id: 'event',
            name: 'event',
            options: notifierOptions.triggers.event,
            value: (trigger.event ?? false)
        }) }}

        <hr>

        {{ forms.selectField({
            label: "Activate when saving new or existing entries?"|t('notifier'),
            id: 'config-newExisting',
            name: 'config[newExisting]',
            options: notifierOptions.triggers.newExisting,
            value: (trigger.config.newExisting ?? false)
        }) }}

        {{ forms.lightswitchField({
            id: 'config-includeDraftsAndRevisions',
            name: 'config[includeDraftsAndRevisions]',
            label: "Include Drafts & Revisions?"|t('notifier'),
            instructions: "It's highly recommended to leave this disabled, unless you explicitly need Drafts and/or Revisions."|t('notifier'),
            offLabel: "Published Entries Only"|t('notifier'),
            onLabel: "Published Entries + Drafts/Revisions"|t('notifier'),
            on: false,
        }) }}
{#        warning: "Enabling Drafts and Revisions may lead to unpredictable behavior."|t('notifier'),#}

        <hr>

        {{ forms.checkboxSelectField({
            label: "Sections"|t('app'),
            instructions: "Which sections will activate this trigger?"|t('notifier'),
            id: 'config-sections',
            name: 'config[sections]',
            options: notifierOptions.triggers.sections,
            showAllOption: true,
            values: (trigger.config.sections ?? '*')
        }) }}

{#        {{ forms.checkboxSelectField({#}
{#            label: "Entry Types"|t('app'),#}
{#            instructions: "Which entry types will activate this trigger?"|t('notifier'),#}
{#            id: 'config-entryTypes',#}
{#            name: 'config[entryTypes]',#}
{#            options: notifierOptions.triggers.entryTypes,#}
{#            showAllOption: true,#}
{#            values: (trigger.config.entryTypes ?? '*')#}
{#        }) }}#}

    </div>

{% endset %}
