{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set fullPageForm = true %}

{% set existing = (triggerId ?? false) %}
{% set trigger  = (existing ? notifier.getTriggerById(triggerId)) %}
{% set title    = (existing ? 'Edit Trigger' : 'Add a Trigger')|t('notifier') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
    {'label': title, 'url': false},
] %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% set content %}
    {{ actionInput('notifier/trigger/save') }}
    {{ existing ? hiddenInput('id', triggerId) }}

    <h2>Configure the Trigger</h2>

    {{ forms.selectField({
        label: "Event Trigger"|t('notifier'),
        instructions: "**BETA:** Only a single trigger is available in beta."|t('notifier'),
        id: 'event',
        name: 'event',
        options: notifierOptions.triggers.event,
        value: (trigger.event ?? false)
    }) }}

    {{ forms.checkboxSelectField({
        label: "Sections"|t('app'),
        instructions: "Which section(s) will activate this trigger?"|t('notifier'),
        id: 'config-sections',
        name: 'config[sections]',
        options: notifierOptions.triggers.sections,
        showAllOption: true,
        values: (trigger.config.sections ?? '*')
    }) }}

    {{ forms.selectField({
        label: "Freshness"|t('notifier'),
        instructions: "Should this trigger be activated by **new** entries, **existing** entries, or **both**?"|t('notifier'),
        id: 'config-freshness',
        name: 'config[freshness]',
        options: notifierOptions.triggers.freshness,
        value: (trigger.config.freshness ?? false)
    }) }}

    {{ forms.selectField({
        label: "Drafts"|t('notifier'),
        instructions: "Should this trigger be activated by **published** entries, **draft** entries, or **both**?"|t('notifier'),
        id: 'config-drafts',
        name: 'config[drafts]',
        options: notifierOptions.triggers.drafts,
        value: (trigger.config.drafts ?? false)
    }) }}

{#    {% include 'notifier/_related/messages' %}#}

{% endset %}
