{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set fullPageForm = true %}

{% set existing = (triggerId ?? false) %}
{% set trigger  = (existing ? notifier.getTriggerById(triggerId)) %}
{% set title    = (existing ? 'Edit Trigger' : 'Add a Trigger')|t('notifier') %}

{# JSON decode the trigger configuration #}
{% set config = (trigger.config ?? '{}')|json_decode %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
    {'label': title, 'url': false},
] %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% set content %}
    {{ actionInput('notifier/trigger/save') }}
    {{ existing ? hiddenInput('id', triggerId) }}

    <h2>Configure the Trigger</h2>

    {{ forms.selectField({
        label: "Event Trigger"|t('notifier'),
        instructions: "**BETA:** While in beta, this is the only available event trigger."|t('notifier'),
        id: 'event',
        name: 'event',
        options: notifierOptions.triggers.event,
        value: (trigger.event ?? false)
    }) }}
    {# 'another': 'Another test event' #}

    {{ forms.selectField({
        label: "Freshness"|t('notifier'),
        instructions: "Should this event be triggered by **new** entries, **existing** entries, or **both**?"|t('notifier'),
        id: 'config-freshness',
        name: 'config[freshness]',
        options: notifierOptions.triggers.freshness,
        value: (config.freshness ?? false)
    }) }}

    {{ forms.selectField({
        label: "Drafts"|t('notifier'),
        instructions: "Should this event be triggered by **published** entries, **draft** entries, or **both**?"|t('notifier'),
        id: 'config-drafts',
        name: 'config[drafts]',
        options: notifierOptions.triggers.drafts,
        value: (config.drafts ?? false)
    }) }}

    {{ forms.checkboxSelectField({
        label: "Sections"|t('app'),
        instructions: "Which sections should be included?"|t('notifier'),
        id: 'config-sections',
        name: 'config[sections]',
        options: {'news': 'News'},
        showAllOption: true,
        values: (config.sections ?? '*')
    }) }}

    <hr>

    {% include 'notifier/_form/trigger/related-messages' %}

{% endset %}
